.c-loading,
.c-loading::before,
.c-loading::after {
    animation: loading 1s infinite ease-in-out;
    background: var(--g-color-white);
    height: var(--g-spacing-3x-large);
    width: 1em;
}

.c-loading {
    animation-delay: -0.16s;
    margin: var(--g-spacing-6x-large) auto;
    position: relative;
    transform: translateZ(0);
}

.c-loading::before,
.c-loading::after {
    content: "";
    position: absolute;
    top: 0;
}

.c-loading::before {
    animation-delay: -0.32s;
    left: calc(var(--g-spacing-large) * -1);
}

.c-loading::after {
    left: var(--g-spacing-large);
}

@-webkit-keyframes loading {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: var(--g-spacing-3x-large);
    }
    40% {
        box-shadow: 0 calc(var(--g-spacing-2x-small) * -1);
        height: var(--g-spacing-4x-large);
    }
}

@keyframes loading {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: var(--g-spacing-3x-large);
    }
    40% {
        box-shadow: 0 calc(var(--g-spacing-2x-small) * -1);
        height: var(--g-spacing-4x-large);
    }
}
